*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .loder{
            margin: auto;
            margin-top: 40vh;
            height: 100px;
            width: 100px;
            border: #ddd 6px solid;
            border-radius: 50%;
            border-top: #333 solid 6px;
            animation: rotate 1s infinite ;


        }
        @keyframes rotate{
            100%{
              rotate: 360deg;
            }
        }

    


