<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <section class="heroSec">

        <div class="child first">
            <div class="childDiv">
                <div class="top">
                    <img class="iconLeftAngle" src="./assets/angle-left-solid (1).svg" alt="">

                    <div>
                        <img src="https://plus.unsplash.com/premium_photo-1675080431524-3e7c85323972?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="">
                    </div>

                </div>
                <div class="middle">
                    <p>
                        <span>Edit Profile</span><span> Add Photos</span><span>Settings</span>
                    </p>
                </div>
                <div class="inpField">
                    <label for="name">Name</label>
                    <input type="text" name="" id="name" placeholder="Jack Jones">

                    <label for="age">Age</label>
                    <input type="text" name="" id="age" placeholder="Jack Jones">

                    <label for="location">Location</label>
                    <input type="text" name="" id="location" placeholder="Camden, London">

                    <label for="gender">Gender</label>
                    <input type="text" name="" id="gender" placeholder="Male">

                    <label for="about">About Me</label>
                    <input type="text" name="" id="about" placeholder="Swipe right if you like cats.">

                </div>

                <button class="ContinueBtn">Continue</button>
            </div>
        </div>
        <div class="child second">
            <div class="childDivSecond">
                <h5>Set up your preferences</h5>
                <label for="location">Location</label>
                <div class="inpFieldSecond ">
                    <i class="fa-solid fa-location-dot"></i>
                    <input type="text" id="location" placeholder="Camoen, London">
                </div>

                <label for="">Gender</label>
                <div class="btns">
                    <button class="btnM ContinueBtn">Male</button>
                    <button class="btnF ContinueBtn">Female</button>
                </div>
                <div class="rangeLabelDiv">
                    <p class="pForDistance">Distance</p>
                    <p class="_15km">15 Km</p>
                </div>
                <input class="range" type="range">
                <label for="">Distance</label>
                <p class="distTags">
                    <span>Friendship</span>
                    <span style="color: white; background: pink;">Dating</span>
                    <span>Casual</span>
                    <span>Starting A family</span>
                    <span>Don't know</span>
                </p>
                <button class="ContinueBtn">continue</button>

            </div>
        </div>
        <div class="child third">
            <div class="childDiv">
                <div class="topOf3rd">

                    <div class="firstdiv">
                        <i class="fa-solid fa-x" style="color: rgb(222, 20, 20);"></i>

                    </div>
                    <div class="seconddiv">
                        <i class="fa-solid fa-heart" style="color: rgb(255, 255, 255); font-size: 40px;"></i>

                    </div>

                    <div class="thirddiv">
                        <i class="fa-solid fa-star" style="color:  rgb(204, 12, 247);"></i>
                    </div>

                </div>
                <div class="innerOf3rd">

                    <h4>Sara, 28</h4>
                    <p class="designation"><span>Bank Clerk</span>
                        <span>3km Away</span>
                    </p>

                    <h6>About Me</h6>
                    <p class="aboutData">I'm sara, new i town looking for friends to spend weekends with and exploring the city</p>
                    <h6>Interests</h6>
                    <p class="interests"><span>Reading</span>
                        <span>Art history</span>
                        <span>Hiking</span>
                        <span>Hiking</span>
                        <span> Water sport</span>
                    </p>
                </div>
            </div>
        </div>

    </section>

</body>

</html>